<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
</head>
<body>
    <footer class="frog-footer">
        <div class="footer-content">
          <p>&copy; 2024 FrogSite. All rights reserved.</p>
          <ul class="social-links">
            <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
          </ul>
          <p class="footer-tagline">Leap into nature, learn about frogs, and help save their habitats!</p>
        </div>
      </footer>
      
</body>
</html>