<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrogSite</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
</head>
<body>

    <div id="sidebar" class="sidebar">
        <div class="header-container">
            <div class="title-header">
                <h1>FrogSite</h1>
            </div>
            <div class="Tags">
                <ul class="nav-links">
                    <li><a class="home-btn" href="/">Home</a></li>
                    <li><a class="gallery-btn" href="/anatomy">Anatomy</a></li>
                    <li><a class="frog-info-btn">Species Search</a></li>
                    <li><a class="conservation-btn">Save the Frogs!</a></li>
                    <li><a class="game-btn">Game</a></li>
                    <li><a class="contact-btn" >Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="toggle-btn" class="toggle-btn">
        <span>&#x25B6;</span> <!-- Right arrow initially -->
    </div>





</body>
</html>
